@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #222;
  padding-bottom: 50px;
}

.mg-10 {
  margin: 0 0 10px 0;
}

.mg-20 {
  margin: 0 0 20px 0;
}

.mg-4rem {
  margin: 0 0 4rem 0;
}

h2 {
  margin: 0 0 2rem 0;
}

.btn-remove {
  color: gray;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  width: 100%;
  height: 100%;
}

.logo {
  height: 100px;
  max-width: 150px;
}

.nav {
  width: 100%;
}

.main-nav {
  background-color: rgba(248, 248, 248, 255);
  height: 140px;
}

.secondary-nav {
  background-color: white;
  height: 60px;
  justify-content: start;
  align-items: center;
  margin-bottom: 3rem;
  border-bottom: rgba(0, 0, 0, 0.175) 1px solid;
  transition: all 0.8s ease-in-out;
  transform: translateY(0);
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  /* padding-top: 1rem; */
}

.breadcrumb-list {
  padding: 0;
  margin: auto 0;
  list-style: none;
}

.breadcrumb-list li {
  font-size: 0.85rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.breadcrumb-list .active {
  color: #0d6efd;
}

.left-col .card {
  background-color: rgba(248, 248, 248, 255);
  border: none;
}

.basket-product {
  margin: 10px 0;
  width: 100%;
  overflow: hidden;
}

.basket-product .item {
  display: flex;
  justify-content: space-between;
}

.product-image {
  width: 100px;
  height: 100px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  overflow: hidden;
  padding: 5px;
}

.product-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* font-size: 14px; */
}

.quantity input {
  padding: 2px;
  width: 50px;
}

.subtotal-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.product-details .price-detail {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.discount {
  font-size: 14px;
  color: gray;
  margin: 0 8px;
}

.summary-subtotal,
.summary-total,
.tax-total,
.shipping-total {
  display: flex;
  justify-content: space-between;
}

.scrolled-up-second-nav {
  position: fixed;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  transform: translateY(-140px);
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.9s ease-in-out;
}

@media (max-width: 576px) {
  .breadcrumb-list {
    justify-content: center;
  }
}

@media (max-width: 414px) {
  .second-title {
    font-size: 16px;
  }
  .product-name,
  .price,
  .subtotal,
  .discount,
  .quantity input {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  div.card-body {
    padding: 8px;
  }

  div.product-details {
    width: 140px;
  }

  .row > * {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 320px) {
  .quantity input {
    padding: 1px;
    width: 30px;
  }

  div.product-details {
    width: 120px;
  }

  p {
    font-size: 12px;
  }
}
